@font-face {
    font-family: "europa";
    src: url("assets/europa-bold.woff") format('woff');
    font-weight: bold;
}*/

@font-face {
    font-family: "europa";
    src: url("assets/europa-light.woff") format('woff');
    font-weight: light;
}

@font-face {
    font-family: "europa";
    src: url("assets/europa-regular.woff") format('woff');
    font-weight: normal;
}

body {
  font-family: sans-serif;
  color: #111;
  font-size: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #fdfdfd;
}

.wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin: 0 auto;
  width: 600pt;
}

#name {
  font-size: 60pt;
  color: #444;
  font-family: europa, sans-serif;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.5em;
}

#links {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18pt;
}

#links > ul {
  text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#links > ul > li {
  list-style-type: none;
  display: inline;
  margin: 0 0.6em;
}

#links > ul > li > a {
  color: #aaa;
  text-decoration: none;
}

#links > ul > li > a:hover {
  color: #444;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  div {
    clear: both !important;
    display: block !important;
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #name {
    margin-top: 1em !important;
    margin-bottom: 2em !important;
  }

  #links > ul > li {
    float: none !important;
    font-size: 48pt !important;
    margin-bottom: 0.3em !important;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    display: list-item;
  }
}
